body{
	margin: 0;
	padding: 0;
	font-family: verdana, tahoma;
	font-size:12px;
}

body a{
	text-decoration:none;
	color:#fff;
}

#footer{
	
	max-width:800px;
	min-width:350px;
	margin:auto;
}

#wrapper{
	max-width:800px;
	min-width:350px;
	margin: auto;
}

#main_title{
	font-size:18px;
	color:#ffffff;
	text-align:center;
	letter spacing:4px;
}

#first{
	font-size:13.5px;
	color:#ffffff
}

#videogames{
	font-size:16px;
	color:#ffffff;
}

#vgp{
	font-size:13.5px;
	color:#ffffff;
	line-height:18px;
}

#young{
	width:100%;
	max-width:100%;
}

#basketball{
	font-size:16px;
	color:#ffffff;
}


#bp{
	font-size:13.5px;
	color:#ffffff;
	line-height:18px;
}

#ballteam{
	width:100%;
	max-width:100%;
}

#slider-image{
	width:700px;
	height:400px;
	position: left;
}

#slide-container{
	width:700px;
	height:400px;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
}

#image-container{
	width:2400px;
	height:600px;
	position: relative;
	animation-name: slideranimation;
	animation-duration: 13.2s;
	animation-iteration-count: infinite;
}

#slider-image{
	float: left;
	margin:0px;
	padding:0px;
}

@keyframes slideranimation{

	0%
	{
		left:0px;
	}
	20%
	{
		left:0px;
	}
	40% /* 5second */
	{
		left:0px;
	}
	50%
	{	
		left:-700px
	}
	
	90%
	{
		left:-700px;
	}
	100% /* 10second */
	{
		left:0px;
	}
	
}

#LAN{
	font-size:16px;
	color:#ffffff;	
}

#LANP{
	font-size:13.5px;
	color:#ffffff;
	line-height:18px;
}

#s-m{
	position: relative;
	max-width:200px;
	max-height:200px;
	margin: 0 auto;
}


#s-m a:hover{
	background #e67e22;
}

#s-m a{
	display:inline-flex;
	width:40px;
	height:20px;
	background:#2c3e50;
	margin: 0 6px;
	border-radius: 50%;
	justify-content:center;
	align-items:center;
	transition:0.4s;
	font-size:22px;
}

#s-m a i{
	transition: 0.4s all;
}

#s-m a:hover > i{
	transform: scale(1.6) rotate(25deg);
}







	
