body{

	font-family: verdana, tahoma;
	font-size:12px;

}

body a{

	text-decoration:none;
	color:#fff;

}

#wrapper{

	max-width:800px;
	min-width:350px;
	margin: auto;

}

#main_title{

	font-size:18px;
	color:#ffffff;
	text-align:center;
	letter spacing:4px;
}

#first{
	
	font-size:12px;
	color:#ffffff

}

#videogames{

	font-size:15px;
	color:#ffffff;

}

#vgp{

	font-size:12px;
	color:#ffffff;
	line-height:15px;
	
}

#young{

	width:70%;
	max-width:100%;

}

#basketball{

	font-size:15px;
	color:#ffffff;

}


#bp{

	font-size:12px;
	color:#ffffff;
	line-height:15px;

}

#ballteam{

	width:70%;
	max-width:100%;

}


	
