body{
	margin: 0px;
	padding: 0px;
	font-family: verdana, tahoma;
	font-size:12px;
}

body a{
	text-decoration:none;
	color:#fff;
}

*{
	box-sizing:border-box;
	padding:0;
	margin:0;
}

nav{
	background:#898787;
	padding:5px 20px;
	max-width:100%;
}

ul{
	list-style-type:none;
}

a{
	color:#ffffff;
}

a:hover{
	text-decoration:underline;
}

#menu li{
	font-size:16px;
	padding:15px 5px;
}

#menu li a{
	display:block;
}

#logo{
	color:#ffffff;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
	position:relative;
	left:100px;	
	top:10px;
}

/* Mobile Menu */
#menu{
	display:flex;
	flex-wrap:wrap;
	justify-content: space-between;
	align-items:center;
}

.toggle{
	order:1;
}


.toggle{
	cursor:pointer;

}

.item{
	width:100%;
	text-align:center;
	position:relative;
	top:10px;
	display:none;
}

.item.active{
	display:block;
}

#bars{
	background: #fff;
	display: inline-block;
	height:2px;
	position:absolute;
	right:10;
	width:18px;
}

#bars::before,#bars::after{
	background: #fff;
	content:"";	
	display: inline-block;
	position:absolute;
	height:2px;
	width: 18px;
}

#bars::before{
	top:5px;
}

#bars::after{
	top:-5px;
}

/* Tablet Menu */

@media all and (min-width:468px){

	#menu{
		justify-content: center;
	}
	
}

@media all and (min-width: 1100px){

	.item{
		display:block;
		width:15%;
	}

	.toggle{
		display:none;
	}

	.item{
		order:1;
	}

	#logo{
		order:0;
	}

	#menu li{
		padding:1000px 1000px:
	}


}

@media all and (max-width:1000px){

	#logo{
		font-size:12px;
	}
	
	#bars{
		height: 10px;
		width:30px;
	}
	
}
	





#header{
	color:"#7B94B0";
}

#footer{
	background:#898787;	
	height:40px;
}

#wrapper{
	max-width:850px;
	min-width:350px;
	margin: auto;
}

#main_title{
	font-size:18px;
	color:#ffffff;
	text-align:center;
	letter spacing:4px;
}

#first{
	font-size:13.5px;
	color:#ffffff
}

#videogames{
	font-size:16px;
	color:#ffffff;
}

#vgp{
	font-size:13.5px;
	color:#ffffff;
	line-height:18px;
}

#young{
	width:100%;
	max-width:100%;
}

#basketball{
	font-size:16px;
	color:#ffffff;
}


#bp{
	font-size:13.5px;
	color:#ffffff;
	line-height:18px;
}

#ballteam{
	width:100%;
	max-width:100%;
}

#slider-image{
	width:700px;
	height:400px;
	position: left;
}

#slide-container{
	width:700px;
	height:400px;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
}

#image-container{
	width:2400px;
	height:600px;
	position: relative;
	animation-name: slideranimation;
	animation-duration: 13.2s;
	animation-iteration-count: infinite;
}

#slider-image{
	float: left;
	margin:0px;
	padding:0px;
}

@keyframes slideranimation{

	0%
	{
		left:0px;
	}
	20%
	{
		left:0px;
	}
	40% /* 5second */
	{
		left:0px;
	}
	50%
	{	
		left:-700px
	}
	
	90%
	{
		left:-700px;
	}
	100% /* 10second */
	{
		left:0px;
	}
	
}

#LAN{
	font-size:16px;
	color:#ffffff;	
}

#LANP{
	font-size:13.5px;
	color:#ffffff;
	line-height:18px;
}

#s-m{
	position:relative;
	top:4px;
	max-width: 230px;
	margin: 0 auto;
}

#s-m a:hover{
	background #e67e22;
}

#s-m a{
	display:inline-flex;
	width:50px;
	height:30px;
	background:#2c3e50;
	margin: 0 6px;
	border-radius: 70%;
	justify-content:center;
	align-items:center;
	transition:0.4s;
	font-size:23px;
}

#s-m a i{
	transition: 0.4s all;
}

#s-m a:hover > i{
	transform: scale(1.6) rotate(25deg);
}














		






	
