body{
	margin: 0px;
	padding: 0px;
	font-family: verdana, tahoma;
	font-size:12px;
}

body a{
	text-decoration:none;
	color:#fff;
}

*{
	margin: 0 auto;
	padding: 0 auto;
	box-sizing: border-box;
}

nav{
	display:flex;
	justify content:space-around;
	align-items:center;
	min-height: 8vh;
	background: #898787;
	font-family: 'Poppins', sans-serif;
}

#logo{
	color:#ffffff;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

#nav-links{
	display:flex;
	justify-content: space-around;
	width:50%;
}

#nav-links li{
	list-style: none;
}

#nav-links a{
	color:#ffffff
	text-decoration:none;
	letter-spacing:2px;
	font-weight:bold;
	font-size:12px;
}

#burger{
	display:none;
	cursor: pointer;
}

#burger div{
	width: 23px;
	height: 3px;
	background-color: #ffffff;
	margin: 5px;
}

@media screen and(max-width:1024px){
	#nav-links{
		width:20%;
	}
}

@media screen and (max-width:768px){
	body{
		overflow-x: hidden;	
	}
	#nav-links{
	  position: absolute;
	  right:0px;
	  height: 92vh;
	  top: 8vh;
	  background: #898787;
	  display:flex;
	  flex-direction: column;
	  align-items: center;
	  width: 50%;
	  transform: translateX(100%);
	  transition: transform 0.5s ease-in;
	}
	#nav-links li{
		opacity:0;
		}

	#burger{
		display:block;
	}
}

#nav-active{
	transform: translateX(0%);
}

#header{
	color:"#7B94B0";
}

#footer{
	background:#898787;	
	height:40px;
}

#wrapper{
	max-width:800px;
	min-width:350px;
	margin: auto;
}

#main_title{
	font-size:18px;
	color:#ffffff;
	text-align:center;
	letter spacing:4px;
}

#first{
	font-size:13.5px;
	color:#ffffff
}

#videogames{
	font-size:16px;
	color:#ffffff;
}

#vgp{
	font-size:13.5px;
	color:#ffffff;
	line-height:18px;
}

#young{
	width:100%;
	max-width:100%;
}

#basketball{
	font-size:16px;
	color:#ffffff;
}


#bp{
	font-size:13.5px;
	color:#ffffff;
	line-height:18px;
}

#ballteam{
	width:100%;
	max-width:100%;
}

#slider-image{
	width:700px;
	height:400px;
	position: left;
}

#slide-container{
	width:700px;
	height:400px;
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
}

#image-container{
	width:2400px;
	height:600px;
	position: relative;
	animation-name: slideranimation;
	animation-duration: 13.2s;
	animation-iteration-count: infinite;
}

#slider-image{
	float: left;
	margin:0px;
	padding:0px;
}

@keyframes slideranimation{

	0%
	{
		left:0px;
	}
	20%
	{
		left:0px;
	}
	40% /* 5second */
	{
		left:0px;
	}
	50%
	{	
		left:-700px
	}
	
	90%
	{
		left:-700px;
	}
	100% /* 10second */
	{
		left:0px;
	}
	
}

#LAN{
	font-size:16px;
	color:#ffffff;	
}

#LANP{
	font-size:13.5px;
	color:#ffffff;
	line-height:18px;
}

#s-m{
	position:relative;
	top:4px;
	max-width: 230px;
	margin: 0 auto;
}

#s-m a:hover{
	background #e67e22;
}

#s-m a{
	display:inline-flex;
	width:50px;
	height:30px;
	background:#2c3e50;
	margin: 0 6px;
	border-radius: 70%;
	justify-content:center;
	align-items:center;
	transition:0.4s;
	font-size:23px;
}

#s-m a i{
	transition: 0.4s all;
}

#s-m a:hover > i{
	transform: scale(1.6) rotate(25deg);
}






		






	
